/* Style for the heading */
h1 {
  color:#ffff86;
  font-family:;
  position: center;
  top: 10px; /* Position heading near the top */
  text-align: center;
  width: 100%; /* Make heading span full width */
  

}

body{
background-color: rgb(43, 42, 42);
}


/* Align body to center content */
.content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 20px; /* Add some space between buttons */
  padding: 20px; /* Padding around the content */
  margin: 0; /* Remove default margin */
  flex-direction:column; /* Keep the buttons in a row */

}

/* Style for buttons */
.clickable{
  background-color: #ff86cf;
  border: 16px solid transparent; /* Transparent border initially */
  border-radius: 30%;
  padding: 20px;
  margin: 10px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.5s ease, border 0.5s ease,border-style; /* Smooth transition for background color and border */
}

/* Active state for the button (on click) */
.clickable:active {
  background-color: #ff66c2;
  border-color: #ae58fe; /* Border color when the button is clicked */
  border-style: outset;
}

/* Centering the paragraph content */
p {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 25px;
  margin-top: 20px; /* Add margin above the paragraph */
  transition-property:font-size;
  color:#ffff86;
}

.submitButton
{ display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cd61ff;
  border: 4px solid transparent; 
  border-radius: 22px;
  padding: 8px;
  margin: 20px;
  font-size: 18px;
  width: 100px;
  color:#ffff86;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.5s ease, border 0.5s ease,border-style;
}

.submitButton:active
{
  color:#560052;
  background-color:#cd61ff;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.5s ease, border 0.5s ease,border-style;
}
.buttons
{ display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
}

.score
{
  display:flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: row;
  gap: 16px;

  
}



  